# Data files
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints 